.fa-solid,
.fas {
    font-size: 24px;
}

.fa-pills {
    color: black;
    font-size: 24px;
}

.red {
    background-color: red !important;
}

.green {
    background-color: green !important;
}
.blue {
    background-color: #525CEB !important;
}

/* Admin css */

#menu {
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .logo img {
    width: 40px;
    margin-right: 15px;
}

#menu.items {
    margin-top: 40px;
}

#menu .items li {
    list-style: none;
    padding: 15px 0;
    color: #fff;

}

#menu .items li:hover {
    background: #253047;
    cursor: pointer;
}

#menu .items li:nth-child(1) {
    border-left: 4px solid #fff;
}

#menu .items li i {
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;

    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;

}

#menu .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
}

#menu .items li:hover i,
#menu .items li:hover a {

    color: #f3f4f6;

}

#menu .items li i a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}




#interface {
    width: calc(100%-300px);
    margin-left: 300px;
    overflow-x: hidden;
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;

    width: 1235px;
}

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}

#interface .navigation .search i {
    margin-right: 14px;
}

#interface .navigation .search input {
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
}

#interface .navigation .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn {


    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    overflow-y: hidden;
}

.user-btn {
    border: none;
    margin-right: 62px;
}

.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.values .val-box {
    background: #e8e8e8;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #ac1e11;
    margin-right: 15px;
}

.values .val-box:nth-child(1) i {
    background: #7B74EC;
}

.values .val-box:nth-child(2) i {
    background: #5C8af0;
}

.values .val-box:nth-child(3) i {
    background: #e45d99;
}

.values .val-box:nth-child(4) i {
    background: #74daec;
}

.values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span {
    font-size: 18px;
    color: #828997;
}

.board {
    width: 95%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #dddada;
    border-radius: 8px;
}

.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5 {
    font-weight: 600;
    font-size: 14px;
}

.board p {
    font-weight: 600;
    font-size: 14px;
    color: #787d8d;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;

}

.active p {
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit a {
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

.patients-router {
    color: #111827;
    text-decoration: none;
}

@media (max-width:769px) {
    #menu {

        width: 270px;

        position: fixed;
        left: -270px
    }

    #interface {
        width: 100%;
        margin-left: 0;
        position: inline-block;

    }

    #interface .navigation {
        width: 100%;
    }

    #menu .active {
        left: 0;
    }

    #menu-btn {
        display: initial;
    }
}

.search-page-input {
    width: 55px;
    text-align: center;
}

.page-item {
    background: transparent;
}

.page-link {
    background: transparent;
    border: none !important;
}

/* Patient profile CSS */

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information>tbody>tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
    border-top: 0;
}


.table-user-information>tbody>tr>td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.edit-btn-profile,
.homepage-btn-profile {
    width: 140px;
}

/* Process steps CSS */

.step-container {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .step-group {
    display: flex;
    width: 300%;
  }
  
  .step {
    flex: 1;
    padding: 10px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .step-enter {
    opacity: 0;
  }
  
  .step-enter-active,
  .step-exit-active {
    opacity: 1;
  }